{% extends "index.html" %}

{% block body %}

<div class="container">
    <div>
        <div class="panel panel-primary panel-transparent">
            <div class="panel-heading">
                <h3 class="panel-title"><kbd>Add New item To Bucket List</kbd></h3>
            </div>
            
            <div class="panel-body">
                <div>
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Item Title</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Not More than 144 Characters">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Badge (Shows Approx. Due Date)</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Not More than 25 Characters">
                        </div>
                        <button type="submit" class="btn btn-default"><a href="view">Save To Bucket List</a></button>
                    </form>
                </div>

            </div>

        </div>

    </div>
</div>
{% endblock %}