{% extends "index.html" %}

{% block body %}

<div class="container">
    <div>
        <div class="panel panel-primary panel-transparent">
            <div class="panel-heading">
                <h3 class="panel-title"><kbd>Add New item To Bucket List</kbd></h3>
            </div>
            
            <div class="panel-body">
                <div>
                    <form method="post" action=" {{ url_for('view')  }} ">
                        <div class="form-group">
                            <label for="exampleInputTitle"><kbd>Item Title</kbd></label>
                            <input type="text" class="form-control" id="exampleInputTitle" placeholder="Not More than 144 Characters">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputBadge"><kbd>Badge (Shows Approx. Due Date)</kbd></label>
                            <input type="text" class="form-control" id="exampleInputBadge" placeholder="Not More than 25 Characters">
                        </div>
                        <button type="submit" class="btn btn-default">Save To Bucket List</button>
                    </form>
                </div>

            </div>

        </div>

    </div>
</div>
{% endblock %}