{% extends "index.html" %} {% block body %}
<div class="container">
    <div>
        <form method="POST" action="/create">
            <div class="form-group">
                <label for="email"><kbd>Please enter a valid e-mail address</kbd></label>
                <input type="email" class="form-control" name="email" placeholder="example@example.com">
            </div>
            <div class="form-group">
                <label for="user_name"><kbd>Please enter a user-name of your preference</kbd></label>
                <input type="text" class="form-control" name="user_name" placeholder="user-name">
            </div>
            <div class="form-group">
                <label for="password"><kbd>Please input a strong password</kbd></label>
                <input type="password" class="form-control" name="password" placeholder="*********">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
    <br>
    <p><kbd>Already have an account? <a href="login">Sign In Here</a></kbd></p>
</div>

{% endblock %}
