{% extends "index.html" %} {% block body %}
<div class="container">
    <div class="panel panel-primary panel-transparent">
        <div class="panel-heading">
            <h3 class="panel-title"><kbd>Your Bucket List</kbd></h3>
        </div>

        <div class="panel-body">
            <!-- List group -->
            <form method="POST" action=".">
                <ul class="list-group">
                    <li class="list-group-item"><strong>1 - {{ title }}</strong><span class="badge badge-default badge-pill">{{ badge }}</span><br>
                        <kbd class="btn btn-xs">Mark as done</kbd> <kbd class="btn btn-xs">Modify</kbd> <kbd class="btn btn-xs">Delete</kbd>
                    </li>
                </ul>
            </form>
        </div>
        <div class="panel-footer">
            <h3 class="panel-title"><kbd><a href="create">Add New</a></kbd></h3>
        </div>
    </div>

</div>

{% endblock %}